    {% include 'header.html' %}
                    
    <div id='over'>
          <div class="parallax-background" style="background-image:url(/static/img/coffee.jpg); ">
            <div class="intro-text" style="background: rgba(0,0,0,0.5);">
              Project X
              <p>A platform for innovators</p>
            </div>
          </div>
    </div>
    <div class="parallax-content white-bg">

        <div class="container">
          <div class="row">
            <h1 class="eventtitle">Events</h1>
          </div>
          <div class="row">
            <div class="event large-8 columns large-offset-2" style="background-image:url(/static/img/montreal.jpg);">
              <a href="/events/montreal"><h1>WearHacks Montreal 2015</h1></a>
              <p></p>
            </div>
          </div>
          <div class="row">
            <div class="event large-8 columns large-offset-2" style="background-image:url(/static/img/toronto.jpg);">
              <h1>WearHacks Toronto 2015</h1>
              <p></p>
            </div>
          </div>
          <div class="row">
            <div class="event large-8 columns large-offset-2" style="background-image:url(/static/img/vancouver.jpg);">
              <h1>WearHacks Vancouver 2015</h1>
              <p></p>
            </div>
          </div>
          <div class="row">
            <div class="event large-8 columns large-offset-2" style="background-image:url(/static/img/seattle.jpg);">
              <h1>WearHacks Seattle 2015</h1>
              <p></p>
            </div>
          </div>
        </div>
      
      

      {% include 'footer.html' %}